* {
  word-break: break-all;
}
body {
  width: 1200px;
  margin:0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}


.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  cursor: pointer;
  list-style-type: none;
  margin: 10px;
}

.pagination li.active {
  background-color: #007dff;
  border-radius: 5px;
}

.pagination li.active a {
  color:white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid-container article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.grid-container .text {
  padding: 0 20px 20px;
}
.grid-container .text > button {
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 4px;
  cursor: pointer;
}

.grid-container .text > a button {
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 4px;
  cursor: pointer;
}

.card-date {
  font-size: 10px;
  color: #737373;
  text-align: right;
}

.btn-update {
  background: #007dff;
}

.btn-delete {
  background: #ff6944;
}

.btn-create {
  background: #3eff56;
}

.d-flex{
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.mb-20 {
  margin-bottom:20px;
}

form input, form select {
  height: 40px;
  width: 400px;
  margin: 5px 0 10px 0;
}

#filter input, #filter select{
  height: 30px;
  width: 200px;
  margin: 0 10px
}

form input[type=submit]{
  background: #007dff;
  color:white;
}

form label {
  font-size: 12px;
  color: #737373;
}

.errors {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 15px
}

.errors p{
  color: #721c24;
  margin: 3px;
}
